body{
	width: 100%;
	height:100%;
	overflow: auto;
	background-image: url(../images/background.jpg);
}
.inner-layer{
	position: absolute;
	width: 100%;
	height:100%;
	background-color: rgba(0,147,173,0.7);
	overflow: auto;
}
.form-data{
	margin-top: 21%;
	background-color: #FFF;
	
}
.form-body{
	padding: 20px;
}
.form-head{
	padding: 10px;
	border-bottom: 1px solid #CCC;
}
.form-head h2{
	font-size: 22px;
	font-weight: 600;
}
.no-margin{
	margin: 0px;
}

.form-row{
	margin-bottom: 15px;
}
.form-control{
	background-color: #fff;
	border-radius: 8px;

}
.form-control:focus{
	box-shadow: none;
	border: 3px solid #138496;
}
.btn-appointment{
	background-color: #138496 !important;
	border-color: #138496 !important;
	width: 100%;
}
.content{
	margin-top: 15%;
	text-align: center;
	color: #FFF;
	padding: 30px;
}
.content h1{
	font-weight: 600;
	font-size: 3.5rem;
}
.content h2{
	font-weight: 600;
	font-size:2.5rem;
	margin-top: 20px;
}
.content p{
	font-size: 22px;
	margin-top: 20px;
}
.datepicker td, .datepicker th{
	padding: 5px;
}
.dropdown-menu.datepicker{
	max-width: 300px !important;
}


@media screen and (max-width: 976px){
	
}




body {
	color: #6F8BA4;
	margin-top: 20px;
}

.section {
	padding: 100px 0;
	position: relative;
	margin-left: 10%;
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.gray-bg {
	background-color: #fff;
}

/*img {
	max-width: 50%;
	margin-bottom:5%;
	margin-left:10%
	
}*/

img {
	vertical-align: middle;
	border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
	font-size: 45px;
	font-weight: 700;
	margin: 0 0 6px;
}

@media (max-width: 767px) {
	.about-text h3 {
		font-size: 35px;
	}
}

.about-text h6 {
	font-weight: 600;
	margin-bottom: 15px;
}

@media (max-width: 767px) {
	.about-text h6 {
		font-size: 18px;
	}
}

.about-text p {
	font-size: 18px;
	max-width: 450px;
}

	.about-text p mark {
		font-weight: 600;
		color: #20247b;
	}

.about-list {
	padding-top: 10px;
}

	.about-list .media {
		padding: 5px 0;
	}

	.about-list label {
		color: #20247b;
		font-weight: 600;
		width: 88px;
		margin: 0;
		position: relative;
	}

		.about-list label:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 11px;
			width: 1px;
			height: 12px;
			background: #20247b;
			-moz-transform: rotate(15deg);
			-o-transform: rotate(15deg);
			-ms-transform: rotate(15deg);
			-webkit-transform: rotate(15deg);
			transform: rotate(15deg);
			margin: auto;
			opacity: 0.5;
		}

	.about-list p {
		margin: 0;
		font-size: 15px;
	}

@media (max-width: 991px) {
	.about-avatar {
		margin-top: 30px;
	}
}

.about-section .counter {
	padding: 22px 20px;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

	.about-section .counter .count-data {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.about-section .counter .count {
		font-weight: 700;
		color: #20247b;
		margin: 0 0 5px;
	}

	.about-section .counter p {
		font-weight: 600;
		margin: 0;
	}

mark {
	background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
	background-size: 100% 3px;
	background-repeat: no-repeat;
	background-position: 0 bottom;
	background-color: transparent;
	padding: 0;
	color: currentColor;
}

.theme-color {
	color: #fc5356;
}

.dark-color {
	color: #20247b;
}

body {
	color: #797979;
	background: #f1f2f7;
	font-family: 'Open Sans', sans-serif;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 13px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.profile-nav, .profile-info {
	margin-top: 30px;
}

	.profile-nav .user-heading {
		background: #1d1842;
		color: #fff;
		border-radius: 4px 4px 0 0;
		-webkit-border-radius: 4px 4px 0 0;
		padding: 30px;
		text-align: center;
	}

		.profile-nav .user-heading.round a {
			border-radius: 50%;
			-webkit-border-radius: 50%;
			border: 10px solid rgba(255,255,255,0.3);
			display: inline-block;
		}

		.profile-nav .user-heading a img {
			width: 112px;
			height: 112px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
		}

		.profile-nav .user-heading h1 {
			font-size: 22px;
			font-weight: 300;
			margin-bottom: 5px;
		}

		.profile-nav .user-heading p {
			font-size: 12px;
		}

	.profile-nav ul {
		margin-top: 1px;
	}

		.profile-nav ul > li {
			border-bottom: 1px solid #ebeae6;
			margin-top: 0;
			line-height: 30px;
		}

			.profile-nav ul > li:last-child {
				border-bottom: none;
			}

			.profile-nav ul > li > a {
				border-radius: 0;
				-webkit-border-radius: 0;
				color: #89817f;
				border-left: 5px solid #fff;
			}

				.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active a {
					background: #f8f7f5 !important;
					border-left: 5px solid #fbc02d;
					color: #89817f !important;
				}

			.profile-nav ul > li:last-child > a:last-child {
				border-radius: 0 0 4px 4px;
				-webkit-border-radius: 0 0 4px 4px;
			}

			.profile-nav ul > li > a > i {
				font-size: 16px;
				padding-right: 10px;
				color: #bcb3aa;
			}

.r-activity {
	margin: 6px 0 0;
	font-size: 12px;
}


.p-text-area, .p-text-area:focus {
	border: none;
	font-weight: 300;
	box-shadow: none;
	color: #c3c3c3;
	font-size: 16px;
}

.profile-info .panel-footer {
	background-color: #f8f7f5;
	border-top: 1px solid #e7ebee;
}

	.profile-info .panel-footer ul li a {
		color: #7a7a7a;
	}

.bio-graph-heading {
	background: #1d1842;
	color: #fff;
	text-align: center;
	font-style: italic;
	padding: 40px 110px;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	font-size: 16px;
	font-weight: 300;
}

.bio-graph-info {
	color: #89817e;
}

	.bio-graph-info h1 {
		font-size: 22px;
		font-weight: 300;
		margin: 0 0 20px;
	}

.bio-row {
	width: 50%;
	float: left;
	margin-bottom: 10px;
	padding: 0 15px;
}

	.bio-row p span {
		width: 100px;
		display: inline-block;
	}

.bio-chart, .bio-desk {
	float: left;
}

.bio-chart {
	width: 40%;
}

.bio-desk {
	width: 60%;
}

	.bio-desk h4 {
		font-size: 15px;
		font-weight: 400;
	}

		.bio-desk h4.terques {
			color: #4CC5CD;
		}

		.bio-desk h4.red {
			color: #e26b7f;
		}

		.bio-desk h4.green {
			color: #97be4b;
		}

		.bio-desk h4.purple {
			color: #caa3da;
		}

.file-pos {
	margin: 6px 0 10px 0;
}

.profile-activity h5 {
	font-weight: 300;
	margin-top: 0;
	color: #c3c3c3;
}

.summary-head {
	background: #ee7272;
	color: #fff;
	text-align: center;
	border-bottom: 1px solid #ee7272;
}

	.summary-head h4 {
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	.summary-head p {
		color: rgba(255,255,255,0.6);
	}

ul.summary-list {
	display: inline-block;
	padding-left: 0;
	width: 100%;
	margin-bottom: 0;
}

	ul.summary-list > li {
		display: inline-block;
		width: 19.5%;
		text-align: center;
	}

		ul.summary-list > li > a > i {
			display: block;
			font-size: 18px;
			padding-bottom: 5px;
		}

		ul.summary-list > li > a {
			padding: 10px 0;
			display: inline-block;
			color: #818181;
		}

	ul.summary-list > li {
		border-right: 1px solid #eaeaea;
	}

		ul.summary-list > li:last-child {
			border-right: none;
		}

.activity {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

	.activity.alt {
		width: 100%;
		float: right;
		margin-bottom: 10px;
	}

	.activity span {
		float: left;
	}

	.activity.alt span {
		float: right;
	}

	.activity span, .activity.alt span {
		width: 45px;
		height: 45px;
		line-height: 45px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		background: #eee;
		text-align: center;
		color: #fff;
		font-size: 16px;
	}

	.activity.terques span {
		background: #8dd7d6;
	}

	.activity.terques h4 {
		color: #8dd7d6;
	}

	.activity.purple span {
		background: #b984dc;
	}

	.activity.purple h4 {
		color: #b984dc;
	}

	.activity.blue span {
		background: #90b4e6;
	}

	.activity.blue h4 {
		color: #90b4e6;
	}

	.activity.green span {
		background: #aec785;
	}

	.activity.green h4 {
		color: #aec785;
	}

	.activity h4 {
		margin-top: 0;
		font-size: 16px;
	}

	.activity p {
		margin-bottom: 0;
		font-size: 13px;
	}

	.activity .activity-desk i, .activity.alt .activity-desk i {
		float: left;
		font-size: 18px;
		margin-right: 10px;
		color: #bebebe;
	}

	.activity .activity-desk {
		margin-left: 70px;
		position: relative;
	}

	.activity.alt .activity-desk {
		margin-right: 70px;
		position: relative;
	}

		.activity.alt .activity-desk .panel {
			float: right;
			position: relative;
		}

.activity-desk .panel {
	background: #F4F4F4;
	display: inline-block;
}


.activity .activity-desk .arrow {
	border-right: 8px solid #F4F4F4 !important;
}

.activity .activity-desk .arrow {
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	display: block;
	height: 0;
	left: -7px;
	position: absolute;
	top: 13px;
	width: 0;
}

.activity-desk .arrow-alt {
	border-left: 8px solid #F4F4F4 !important;
}

.activity-desk .arrow-alt {
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	display: block;
	height: 0;
	right: -7px;
	position: absolute;
	top: 13px;
	width: 0;
}

.activity-desk .album {
	display: inline-block;
	margin-top: 10px;
}

	.activity-desk .album a {
		margin-right: 10px;
	}

		.activity-desk .album a:last-child {
			margin-right: 0px;
		}
/* ==============khawar================== */
* {
	box-sizing: border-box;
}

.panel {
	margin-bottom: 20px;
	background-color: #fbfafa;
	border: 1px solid transparent;
	border-radius: 12px;
	-webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
	/* box-shadow: 1px 2px 12px #ccccccbd; */
	box-shadow: 0px 0px 10px #ccccccbd;
}

.panel-body {
	padding: 15px;
}

.shadow {
	/* box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    background-color: #fff; */
	/* box-shadow: 1px 2px 12px #ccccccbd; */
	box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
	background: #fff;
	padding: 20px 0;
	border-radius: 12px;
}

.numbers-b {
	text-align: center;
}

	.numbers-b h4 {
		color: #00366c;
		font-size: 22px;
		font-family: "Poppins";
		font-weight: 600;
	}

.box-shadow-c {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	padding: 20px;
	margin: 0 15px;
	width: 96%;
	margin: auto;
	border-radius: 12px;
}